.top-bar {
    /* background-color: rgb(18, 190, 18); */
}

.top-bar ul li {
    padding-left: 10px;
    list-style: none;
    /* border-right: 1px solid #FFFFFF; */
}

.top-bar ul li a {
    padding-right: 10px;
    /* color: #FFFFFF; */
    font-size: 12px;
}

.top-bar ul :last-child{
    border-right: unset !important;
}
.top-bar ul.right :nth-child(2) {
    border-right: unset !important;
}

.navbar {
    padding: 15px 0 15px 0;
}

.form-control:focus {
    box-shadow: unset;
}

.contact{
    margin-bottom: 50px;
    margin-top: 50px;
}

.btn_send_message{
    background-color: #FF3946;
    border: 2px solid #FF3946;
    color: #fff;
    padding: 17px 35px;
    font-size: 1.0rem;
    border-radius: 30px;
    -webkit-box-shadow: 0px 4px 5px 0px rgb(255 57 70 / 15%);
    -moz-box-shadow: 0px 4px 5px 0px rgba(255,57,70,0.15);
    box-shadow: 0px 4px 5px 0px rgb(255 57 70 / 15%);
}

.btn_send_message:hover{
    background-color: #fff;
    border:2px solid #FF3946;
    color: #314584;
    padding: 17px 35px;
    font-size: 1.0rem;
    border-radius: 30px;
    transition: all 0.3s ease;
  }

  footer{
    padding: 30px 0px 0px 0px;
  }
/* Listing */



.single-job-items {
    padding: 36px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    border: 1px solid #efeaea;
    margin-bottom: 10px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-job-items {
        padding: 20px 7px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .single-job-items {
        padding: 20px 25px;
    }
}

.single-job-items .company-img img {
    overflow: hidden;
    float: left;
    margin-right: 32px;
    z-index: 999;
}

@media (max-width: 767px) {
    .single-job-items .job-tittle {
        padding-top: 25px;
    }
    .single-job-items{
        justify-content: center;
    }
}

@media (max-width: 425px) {
    .top-bar ul li a {
        padding-right: 5px;
        color: #FFFFFF;
        font-size: 12px;
    }
}

.justify-content-center-or-between {
    justify-content: space-between;
}

@media (max-width: 425px) {
    .justify-content-center-or-between {
        justify-content: center;
    }
    .m0-m{
        margin: 0px;
    }

    .contact{
        margin-bottom: 150px;
    }
}

.single-job-items .job-tittle a h4 {
    color: #28395a;
    font-size: 20px;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.single-job-items .job-tittle a h4:hover {
    color: #8b92dd;
}

.single-job-items .job-tittle ul li {
    display: inline-block;
    margin-right: 48px;
    font-size: 15px;
    color: #808080;
    line-height: 1.8;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-job-items .job-tittle ul li {
        margin-right: 18px;
    }
}

@media (max-width: 767px) {
    .single-job-items .job-tittle ul li {
        margin-right: 0px;
        margin-bottom: 7px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .single-job-items .job-tittle ul li {
        margin-right: 8px;
    }
}

.single-job-items .job-tittle ul li:last-child {
    margin-right: 0px;
}

.single-job-items .job-tittle ul li i {
    font-size: 14px;
    color: #bbbbbb;
    margin-right: 10px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-job-items .job-tittle2 {
        padding-top: 25px;
    }
}

.single-job-items:hover {
    box-shadow: 0px 22px 57px 0px rgba(34, 41, 72, 0.05);
}

.single-job-items .job-items {
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .items-link {
        padding-top: 35px;
        text-align: center;
    }
}

@media (max-width: 767px) {
    .items-link {
        padding-top: 35px;
        text-align: center;
    }
}

.items-link a {
    color: #8b92dd;
    display: block;
    border: 1px solid #8b92dd;
    border-radius: 30px;
    padding: 4px 33px;
    text-align: center;
    margin-bottom: 25px;
    text-transform: uppercase;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .items-link a {
        padding: 4px 19px;
    }
}

.items-link a:hover {
    color: #fff;
    background: #8b92dd;
    border: 1px solid transparent;
}

.items-link span {
    color: #454d72;
    display: block;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .items-link2 {
        padding-top: 35px;
        text-align: center;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .items-link2 {
        padding-top: 35px;
        text-align: center;
    }
}



/* Single Job Page */

#single_job  p{
    letter-spacing: unset;
}
#single_job  h2{
    padding-right: 15px;
    padding-left: 15px;
}
#single_job  ul{
    padding-right: 15px;
    padding-left: 15px;
}
body{
    color: #6e757a;
}


.custom-file-label{
    background: #F4FAFE;
    border: unset;
}


.pagination .cursor-default .w-5.h-5{
    width: 15px;
}

.loader{
    position: relative;
    top:0px;
    right:0px;
    width:100%;
    height:100%;
    background-color:#eceaea;
    /* background-image:url('ajax-loader.gif'); */
    background-size: 50px;
    background-repeat:no-repeat;
    background-position:center;
    z-index:10000000;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.custom_tab_content{
    display: none;
}
.custom_tab_content.active{
    display: block;
}


.email input {
    color: #6e757a;
}

.custom-file-label::after{
    height: 60px;
    line-height: 50px;
}
.custom-file-label{
    height: 60px;
    line-height: 50px;
}

.custom-file-input:focus~.custom-file-label{
    box-shadow: unset !important;
}
